# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# generated directories
elf2uf2/
generated/
pico-sdk
build

# CMake
CMakeFiles/
cmake_*
CMakeCache.txt
Makefile

# VS Code
c_cpp_properties.json